body {
  background-image: url(https://i.natgeofe.com/n/04505c35-858b-4e95-a1a7-d72e5418b7fc/steep-karst-cliffs-of-el-nido-in-palawan.jpg?w=2880&h=1440);
  background-size: cover;
  font-family: Poppins, sans-serif;
  color: white;
}

.black-box {
  width: 325px;
  height: 325px;
  margin: 50px auto 20px auto;
  text-align: center;
  background-color: black;
}

.flag-image {
  margin-top: 40px;
  width: 100px;
  border-radius: 50%;
}

h2 {
  padding-top: 15px;
}

.search-bar {
  margin: auto;
  text-align: center;
  margin-top: 15px;
}